.logo-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  z-index: 999;
}
.logo-bar {
  height: 68px;
  padding: 0 0.67rem 0 0.76rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 68px;
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 44px;
      margin-right: 12px;
    }
    span {
      font-size: 0.22rem;
      font-family: PingFangSC-Regular;
      font-weight: bold;
      color: #fff;
    }
  }

  .right-title {
    font-size: 0.18rem;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    color: #fff;
  }
}
.logo-fixed {
  border-bottom-color: rgba(68, 68, 68, 0.15);
  .logo-bar {
    height: 68px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, .4);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition-property: background-color, backdrop-filter;
    .logo {
      span {
        color: rgba(0, 0, 0, 0.6);
        transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
      }
    }

    .right-title {
      color: rgba(0, 0, 0, 0.6);
      transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    }
  }
}

.top {
  width: 100%;
  height: 9.48rem;
  background: url('../assets/images/top.png') no-repeat;
  background-size: cover;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .top-1 {
    font-size: 0.34rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0.28rem;
  }
  .top-2 {
    font-size: 0.72rem;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: #fff;
    line-height: 0.72rem;
    margin-bottom: 1.1rem;
  }
  img {
    width: 0.88rem;
    height: 1.28rem;
    margin-bottom: 0.26rem;
  }
  .top-3 {
    font-size: 0.6rem;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: #fff;
    line-height: 0.72rem;
  }
}


.header {
  padding-top: 0.16rem;
  padding-bottom: 0.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-imgs {
    width: 15.8rem;
    height: 5.68rem;
    position: relative;
    margin-bottom: 0.72rem;
    .header-1 {
      position: absolute;
      top: -1.84rem;
      left: 0;
      width: 9.32rem;
      height: 7.52rem;
      background: url('../assets/images/header_1.png') no-repeat;
      background-size: 100% 100%;
    }
    .header-2 {
      position: absolute;
      top: 0.57rem;
      left: 9.42rem;
      width: 1.69rem;
      height: 1.89rem;
      background: url('../assets/images/header_2.png') no-repeat;
      background-size: 100% 100%;
    }
    .header-3 {
      position: absolute;
      top: 0;
      right: 0;
      width: 4.89rem;
      height: 4.06rem;
      background: url('../assets/images/header_3.png') no-repeat;
      background-size: 100% 100%;
    }
  }

  .desc-content {
    width: 15.8rem;
    .desc {
      padding: 0 0.4rem 0 0.82rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .desc-item {
        display: flex;
        margin-bottom: 0.6rem;
        line-height: 0.4rem;
        img {
          width: 0.32rem;
          height:  0.32rem;
          margin-right: 0.56rem;
          margin-top: 0.1rem;
        }
        span {
          font-size: 0.36rem;
          font-family: PingFangSC-Thin;
          font-weight: 100;
          color: #000;
        }
      }
    }
  }
}

.body-header {
  width: 18rem;
  margin-left: 0.5rem;
  margin-bottom: 0.8rem;
  .body-header_img {
    width: 17.7rem;
    height: 7.2rem;
    margin-left: 0.35rem;
    background: url('../assets/images/body_header_img.png') no-repeat;
    background-size: 100% 100%;
  }
  .body-header_content {
    margin-top: 1.1rem;
    margin-right: 0.54rem;
    display: flex;
    justify-content: space-between;
    .content_item {
      width: 5.6rem;
      height: 3.6rem;
      background: #EFEFEF;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .content_item_title {
        line-height: 0.72rem;
        font-size: 0.6rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: #484848;
        margin-bottom: 0.4rem;
      }
      .content_item_title2 {
        line-height: 0.4rem;
        font-size: 0.42rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        margin-bottom: 0.22rem;
      }
      .content_item_tip {
        line-height: 0.3rem;
        font-size: 0.3rem;
        font-family: PingFangSC-Thin;
        font-weight: 100;
        color: #000000;
      }
    }
  }
}

.body-content {
  width: 100%;
  height: 24.72rem;
  background: #12213a;
  border-radius: 0.3rem 0.3rem 0 0;
  padding-top: 0.12rem;

  .body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.68rem;
    img {
      width: 0.82rem;
      height: 0.82rem;
      margin-bottom: 0.64rem;  
    }
    .body-title {
      font-size: 0.54rem;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: #fff;
      line-height: 0.36rem;
      margin-bottom: 0.42rem;
    }
    .body-tip {
      font-size: 0.36rem;
      font-family: PingFangSC-Thin;
      font-weight: 100;
      color: #fff;
      line-height: 0.36rem;
      opacity: 0.7;
    }
  }
}

.video-content {
  width: 12rem;
  margin: 0 auto;
  .video-top {
    padding: 0.62rem 0;
    .video-title {
      font-size: 0.48rem;
      line-height: 0.36rem;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: #000;
      margin-bottom: 0.5rem;
    }
    .video-bottom {
      font-size: 0.32rem;
      font-family: PingFangSC-Thin;
      font-weight: 100;
      opacity: 0.7;
      color: #000;
      li {
        &:first-child {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
  .video_wrap1 {
    height: 7.5rem;
  }
  .video_wrap2 {
    height: 6.75rem;
  }
  .video-wrap {
    background: #000;
    // position: relative;
    // .control-icon {
    //   position: absolute;
    //   right: 0.2rem;
    //   bottom: 0.2rem;
    //   width: 44px;
    //   height: 44px;
    //   border-radius: 50%;
    //   cursor: pointer;
    // }
    // .playIcon {
    //   background: url('../assets/icons/play.svg') rgba(255, 255, 255, 0.25);
    //   background-repeat:  no-repeat;
    //   background-position: 60% center;
    //   &:hover {
    //     background: url('../assets/icons/play.svg') rgba(255, 255, 255, 0.5);
    //     background-repeat:  no-repeat;
    //     background-position: 60% center;
    //   }
    // }
    // .pauseIcon {
    //   background: url('../assets/icons/pause.svg')  rgba(255, 255, 255, 0.25);
    //   background-repeat:  no-repeat;
    //   background-position:  center center;
    //   &:hover {
    //     background: url('../assets/icons/pause.svg')  rgba(255, 255, 255, 0.5);
    //     background-repeat:  no-repeat;
    //     background-position:  center center;
    //   }
    // }
  }
}

.wulian-content {
  width: 14.6rem;
  height: 9.96rem;
  margin: 0 1.5rem 0 3rem;
  padding-top: 0.36rem;
  position: relative;
  .wulian-top {
    padding: 0.62rem 0;
    .wulian-title {
      font-size: 0.48rem;
      line-height: 0.36rem;
      font-family: PingFangSC-Medium;
      font-weight: 500;
      color: #000;
      margin-bottom: 0.5rem;
    }
    .wulian-bottom {
      font-size: 0.32rem;
      font-family: PingFangSC-Thin;
      font-weight: 100;
      opacity: 0.7;
      color: #000;
      li {
        
        &:first-child {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
  .hand-middle {
    position: absolute;
    bottom: 3.19rem;
    left: 2.3rem;
    width: 1.18rem;
    height: 2.49rem;
    background:  url('../assets/images/hand_1.png') no-repeat;
    background-size: 100% 100%;
  }

  .hand-wifi {
    position: absolute;
    bottom: 4.3rem;
    left: 5.43rem;
    width: 0.76rem;
    height: 0.51rem;
    background:  url('../assets/icons/wifi.svg') no-repeat;
    background-size: 100% 100%;
  }

  .hand-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6.6rem;
    height: 7.64rem;
    background:  url('../assets/images/hand_2.png') no-repeat;
    background-size: 100% 100%;
  }
  .hand-text {
    position: absolute;
    bottom: 1.63rem;
    left: 2.3rem;
    font-size: 0.36rem;
    font-family: PingFangSC-Thin;
    font-weight: 100;
  }
}

.fund-content {
  width: 100%;
  padding-top: 0.36rem;
  background-color: #F4F4F4;
  .fund-wrap {
    width: 13rem;
    margin: 0 auto;
    .fund-top {
      padding: 0.62rem 0;
      .fund-title {
        font-size: 0.48rem;
        line-height: 0.36rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: #000;
        margin-bottom: 0.5rem;
      }
      .fund-tip {
        font-size: 0.32rem;
        font-family: PingFangSC-Thin;
        font-weight: 400;
        opacity: 0.7;
        color: #000;
        li {
          &:first-child {
            margin-bottom: 0.2rem;
          }
        }
      }
    }
    .fund-img {
      margin-left: 0.72rem;
      margin-top: 0.2rem;
      width: 11.82rem;
      height: 8.72rem;
      background: url('../assets/images/imac.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}

.yidong-container {
  padding-top: 0.36rem;
  .yidong-wrap {
    width: 13rem;
    margin: 0 auto;
    .yidong-top {
      padding: 0.62rem 0;
      .yidong-title {
        font-size: 0.48rem;
        line-height: 0.36rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: #000;
        margin-bottom: 0.5rem;
      }
      .yidong-tip {
        font-size: 0.32rem;
        font-family: PingFangSC-Thin;
        font-weight: 100;
        opacity: 0.7;
        color: #000;
        li {
          
          &:first-child {
            margin-bottom: 0.2rem;
          }
        }
      }
    }
    .yidong-imgs {
      width: 13rem;
      height: 6.65rem;
      margin-top: 0.3rem;
      margin-bottom: 1.4rem;
      position: relative;
      .yidong-img_left {
        position: absolute;
        top: 0.88rem;
        left: 0.2rem;
        width: 2.18rem;
        height: 4.4rem;
        background: url('../assets/images/yidong_mobile.png') no-repeat;
        background-size: 100% 100%;
      }
      .yidong-img_right {
        position: absolute;
        top: 0;
        right: 0;
        width: 11.33rem;
        height: 6.65rem;
        background: url('../assets/images/yidong_pc.png') no-repeat;
        background-size: 100% 100%;
      }
    }
    .yidong-card_top {
      height: 5.08rem;
      background: #EFEFEF;
      border-radius: 0.25rem;
      padding-top: 0.6rem;
      padding-left: 0.48rem;
      .card_top-title {
        font-size: 0.36rem;
        font-family: PingFangSC-Light;
        font-weight: 300;
        color: #1D1D1F;
        line-height: 0.36rem;
        &:first-child {
          font-family: PingFangSC-Medium;
          color: #000;
          font-weight: 600;
          margin-bottom: 0.36rem;
        }
      }
      .card_top-content {
        margin-top: 0.45rem;
        padding-left: 1rem;
        padding-right: 2.04rem;
        display: flex;
        justify-content: space-between;
        .card_top-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 1.3rem;
            height: 1.12rem;
            margin-bottom: 0.3rem;
          }
          .card_top-tip {
            font-size: 0.2rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #1D1D1F;
          }
          .card_top-line {
            margin-top: 0.3rem;
            margin-bottom: 0.2rem;
            width: 0.46rem;
            height: 0.04rem;
          }
        }
      }
    }
    .yidong-card_bottom {
      height: 5.08rem;
      background: #EFEFEF;
      border-radius: 0.25rem;
      margin-top: 0.4rem;
      margin-bottom: 0.68rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .card_bottom-title {
        margin-top: 0.79rem;
        font-size: 0.36rem;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        color: #000;
        line-height: 0.36rem;
      }
      .card_bottom-tip {
        margin-top: 0.41rem;
        font-size: 0.3rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: #000;
        line-height: 0.36rem;
      }
      .card_bottom-service {
        margin-top: 1.04rem;
        font-size: 0.36rem;
        font-family: PingFangSC-Semibold;
        font-weight: 600;
        color: #000;
        line-height: 0.36rem;
      }
      .card_bottom-bottom {
        margin-top: 0.48rem;
        font-size: 0.24rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        text-decoration: underline;
        color: #7D7D7D;
        line-height: 0.36rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.huoban-container {
  margin-top: 0.68rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .tip-word {
    width: 100%;
    height: 1.48rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #59559A, #9D2222);
    font-size: 0.6rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: #FFFFFF;
    opacity: 0.92;
    margin-bottom: 0.56rem;
  }
  .tip-huoban {
    margin-bottom: 0.25rem;
    font-size: 0.48rem;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: #333;
    opacity: 0.92;
    background: linear-gradient(150deg, #0A00B2 0%, #D0718F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .huoban-disc {
    font-size: 0.24rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: #777777;
    margin-bottom: 0.45rem;
  }
  .tip-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 3.18rem;
    width: 100%;
    margin-bottom: 0.76rem;
    .tip-item {
      width: 3.02rem;
      img {
        width: 100%;
        height: 1.26rem;
        margin-bottom: 0.35rem;
      }
      .bottom-tip {
        font-size: 0.18rem;
        font-family: PingFangSC-Medium;
        font-weight: 500;
        color: #6E6E73;
        line-height: 0.28rem;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.cus-container {
  width: 100%;
  height: 11.48rem;
  background-color: #F4F4F4;
  padding: 0.62rem 1.78rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cus-title {
    font-size: 0.48rem;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: #333;
    opacity: 0.92;
    background: linear-gradient(150deg, #0A00B2 0%, #D0718F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.25rem;
  }
  .cus-tip {
    font-size: 0.24rem;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: #777;
    line-height: 0.28rem;
    margin-bottom: 0.72rem;
  }
  .cus-content {
    width: 100%;
    .cus-wrap {
      margin-bottom: 0.56rem;
      display: flex;
      justify-content: space-between;
      &:last-child {
        margin-bottom: 0;
      }
      .cus-item {
        width: 3.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 3.6rem;
          height: 3rem;
          margin-bottom: 0.27rem;
        }
        .item-title {
          font-size: 0.24rem;
          font-family: PingFangSC-Semibold;
          font-weight: 600;
          color: #000;
          margin-bottom: 0.15rem;
        }
        .item-tip {
          font-size: 0.18rem;
          font-family: PingFangSC-Regular;
          font-weight: 400;
          color: #1D1D1F;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 6.6rem;
  background: linear-gradient(90deg, #59559A, #9D2222);
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-tipwrap {
    margin-top: 0.61rem;
    font-size: 0.24rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-code {
    width: 1.84rem;
    height: 1.84rem;
    margin-top: 0.26rem;
    margin-bottom: 0.36rem;
  }
  .footer-tip {
    font-size: 0.18rem;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0.16rem;
  }
  .footer-police {
    width: 7.27rem;
    height: 0.8rem;
    margin-bottom: 0.24rem;
  }
}